footer {
    background-color: rgb(244, 245, 175);
    color: #000;
    margin-top: 48px;
    padding: 48px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .footer-company {
    width: 450px;
    flex-direction: column;
    align-items: center;
}

footer .footer-company h3 {
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer .footer-company p {
    font-weight: 300;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer .footer-menu {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}


footer .footer-menu-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

footer .footer-menu ul {
    list-style-type: none;
    margin-top: 16px;

}

footer .footer-menu li {
    margin-bottom: 8px;
}

footer .footer-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer .footer-menu a:hover {
    text-decoration: underline;
    color: rgb(250, 209, 26);
}
footer .footer-social {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;

}
footer .footer-social .facebook{
    width: 10px;
}