header {
    /* T R B L */
    padding: 20px 20px 0 20px;
    background-color: rgb(244, 245, 175);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

header .brand img {
    width: 40px;
}

header .brand h6 {
    font-size: 24px;
    color: rgb(194, 175, 3);
    font-weight: 400;
    line-height: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

header ul li {
    font-weight: 300;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header li a {
    text-decoration: none;
    color: #000;
    padding-bottom: 16px;
}

header li a:hover,
header li a.active {
    color: rgb(245, 222, 18);
}

header li a.active {
    font-weight: 400;
    border-bottom: 2px solid rgb(247, 243, 60);
}

header li button {
    background-color: rgb(245, 222, 18);
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

header li button:hover {
    background-color: rgb(248, 238, 142);
    color: rgb(8, 5, 5);
}